/* Extracted CSS Block 1140 */
/* Size: 258 chars */


            })]
        })
    })]
})
  , Slider = d => jsxRuntimeExports.jsx(motion.div, {
    initial: {
        opacity: 0,
        y: 20
    },
    animate: {
        opacity: 1,
        y: 0
    },
    transition: {
        duration: .5,
        ease: 
