/* Extracted CSS Block 294 */
/* Size: 148 chars */

,
    uniforms: {
        tDiffuse: {
            value: null
        },
        opacity: {
            value: 1
        }
    },
    vertexShader: 
