/* Extracted CSS Block 53 */
/* Size: 307 chars */

, {
                        index: Rt,
                        item: wt,
                        root: this,
                        target: this
                    })
                }
                onSubListAdd_(wt) {
                    this.cache_.add(wt.item),
                    this.emitter.emit(
