/* Extracted CSS Block 894 */
/* Size: 394 chars */

),
                        itemFiles: [],
                        iconFiles: [],
                        data: {
                            ..._e.data
                        }
                    };
                    if (c)
                        for (let it = 0; it < _e.items.length; it++) {
                            const at = _e.items[it]
                              , ut = c[b + 
