/* Extracted CSS Block 215 */
/* Size: 414 chars */

:
                        lt = {
                            position: new Er,
                            direction: new Er,
                            color: new Gn,
                            distance: 0,
                            coneCos: 0,
                            penumbraCos: 0,
                            decay: 0
                        };
                        break;
                    case 
