/* Extracted CSS Block 901 */
/* Size: 327 chars */

,
                                isMonitor: !c.itemFiles[_],
                                getValue: () => c.items[_],
                                setValue: b => {
                                    c.items[_] = b
                                }
                            }, {
                                type: 
