/* Extracted CSS Block 85 */
/* Size: 769 chars */

);
                    this.inputElement.value = wt(this.value_.rawValue)
                }
                onChange_() {
                    this.refresh()
                }
            }
            class Iu {
                constructor(wt, Rt) {
                    this.onInputChange_ = this.onInputChange_.bind(this),
                    this.parser_ = Rt.parser,
                    this.props = Rt.props,
                    this.value = Rt.value,
                    this.viewProps = Rt.viewProps,
                    this.view = new Um(wt,{
                        props: Rt.props,
                        value: this.value,
                        viewProps: this.viewProps
                    }),
                    this.view.inputElement.addEventListener(
