/* Extracted CSS Block 307 */
/* Size: 272 chars */

, three_module.hxR]].map(b => ({
                label: b[0],
                value: b[1]
            })),
            onChange: [ () => {
                d[o] && (d[o].needsUpdate = !0)
            }
            , _]
        })]
    }
}
const iMaterialIgnoredUserData = [
