/* Extracted CSS Block 1147 */
/* Size: 220 chars */

), o === 1 && jsxRuntimeExports.jsx(Slider, {
                    step: .1,
                    value: b,
                    setSliderValue: _e,
                    min: 1,
                    max: 5
                }, 
