/* Extracted CSS Block 733 */
/* Size: 244 chars */

],
                        children: Object.entries(EncoderMethod).map( ([h,_]) => ({
                            label: h,
                            value: _
                        }))
                    }, {
                        type: 
