/* Extracted CSS Block 993 */
/* Size: 191 chars */

,{
            detail: {
                mode: At
            }
        }))
    }
    for (const At of c) {
        const Et = ee$1({
            innerHTML: At.title,
            classList: [
