/* Extracted CSS Block 210 */
/* Size: 258 chars */

,
                uniforms: {
                    envMap: {
                        value: null
                    },
                    flipEnvMap: {
                        value: -1
                    }
                },
                vertexShader: 
