/* Extracted CSS Block 242 */
/* Size: 2170 chars */

,
                this.parameters = {
                    geometry: tt
                },
                tt !== null) {
                    const lt = []
                      , mt = new Set
                      , ft = new Er
                      , xt = new Er;
                    if (tt.index !== null) {
                        const Ct = tt.attributes.position
                          , Mt = tt.index;
                        let Lt = tt.groups;
                        Lt.length === 0 && (Lt = [{
                            start: 0,
                            count: Mt.count,
                            materialIndex: 0
                        }]);
                        for (let Nt = 0, jt = Lt.length; Nt < jt; ++Nt) {
                            const Wt = Lt[Nt]
                              , Qt = Wt.start;
                            for (let qt = Qt, Xt = Qt + Wt.count; qt < Xt; qt += 3)
                                for (let Zt = 0; Zt < 3; Zt++) {
                                    const Yt = Mt.getX(qt + Zt)
                                      , sr = Mt.getX(qt + (Zt + 1) % 3);
                                    ft.fromBufferAttribute(Ct, Yt),
                                    xt.fromBufferAttribute(Ct, sr),
                                    lA(ft, xt, mt) === !0 && (lt.push(ft.x, ft.y, ft.z),
                                    lt.push(xt.x, xt.y, xt.z))
                                }
                        }
                    } else {
                        const Ct = tt.attributes.position;
                        for (let Mt = 0, Lt = Ct.count / 3; Mt < Lt; Mt++)
                            for (let Nt = 0; Nt < 3; Nt++) {
                                const jt = 3 * Mt + Nt
                                  , Wt = 3 * Mt + (Nt + 1) % 3;
                                ft.fromBufferAttribute(Ct, jt),
                                xt.fromBufferAttribute(Ct, Wt),
                                lA(ft, xt, mt) === !0 && (lt.push(ft.x, ft.y, ft.z),
                                lt.push(xt.x, xt.y, xt.z))
                            }
                    }
                    this.setAttribute(
