/* Extracted CSS Block 832 */
/* Size: 148 chars */

,
    uniforms: {
        tDiffuse: {
            value: null
        },
        h: {
            value: 1 / 512
        }
    },
    vertexShader: 
