/* Extracted CSS Block 405 */
/* Size: 297 chars */

 + o);
            this._rootContext = {
                path: o,
                url: it,
                rootUrl: three_module.r6x.extractUrlBase(o),
                baseUrl: three_module.r6x.extractUrlBase(it)
            },
            nt = await ut.loadAsync(o + (h.queryString ? (o.includes(
