/* Extracted CSS Block 794 */
/* Size: 208 chars */

, {
            from: o,
            to: c,
            duration: h,
            onComplete: () => {
                this._animationCallBack = null
            }
        })
    }
}
OutlinePlugin.PluginType = 
