/* Extracted CSS Block 208 */
/* Size: 167 chars */

,
                uniforms: {
                    envMap: {
                        value: null
                    }
                },
                vertexShader: 
