/* Extracted CSS Block 1136 */
/* Size: 467 chars */

)
                    })
                }), jsxRuntimeExports.jsx(motion.div, {
                    initial: {
                        opacity: 0,
                        y: 20
                    },
                    animate: {
                        opacity: 1,
                        y: 0
                    },
                    transition: {
                        delay: .1 * 1
                    },
                    children: jsxRuntimeExports.jsx(
