/* Extracted CSS Block 92 */
/* Size: 386 chars */

, {
                        altKey: wt.altKey,
                        data: this.computePosition_(hu(wt, this.elem_)),
                        sender: this,
                        shiftKey: wt.shiftKey
                    })
                }
                onDocumentMouseUp_(wt) {
                    const Rt = this.elem_.ownerDocument;
                    Rt.removeEventListener(
