/* Extracted CSS Block 255 */
/* Size: 961 chars */

, mt.skeleton) : mt.bind(ft, mt.bindMatrix)
                    }
                })
            }
        }
        const BS = {
            UVMapping: jr,
            CubeReflectionMapping: Qr,
            CubeRefractionMapping: Or,
            EquirectangularReflectionMapping: qr,
            EquirectangularRefractionMapping: gn,
            CubeUVReflectionMapping: Mn
        }
          , FA = {
            RepeatWrapping: Tn,
            ClampToEdgeWrapping: wn,
            MirroredRepeatWrapping: Cn
        }
          , UA = {
            NearestFilter: fn,
            NearestMipmapNearestFilter: bn,
            NearestMipmapLinearFilter: En,
            LinearFilter: Rn,
            LinearMipmapNearestFilter: Yn,
            LinearMipmapLinearFilter: vo
        };
        class LS extends $s {
            constructor(tt) {
                super(tt),
                this.isImageBitmapLoader = !0,
                typeof createImageBitmap > 
