/* Extracted CSS Block 732 */
/* Size: 283 chars */

,
                quantizationBits: {
                    POSITION: 14,
                    NORMAL: 10,
                    COLOR: 8,
                    TEX_COORD: 12,
                    GENERIC: 12
                }
            },
            encrypt: !1,
            encryptKey: 
