/* Extracted CSS Block 443 */
/* Size: 185 chars */

, Uncharted2Tonemapping]].map(d => ({
    label: d[0],
    value: d[1]
})), {
    limitedUi: !0
}), x$1(TonemapExtension.prototype._setDirty), serialize()], TonemapExtension.prototype, 
