/* Extracted CSS Block 1137 */
/* Size: 640 chars */

,
                children: metals.map( (ut, pt) => jsxRuntimeExports.jsx(motion.div, {
                    initial: {
                        opacity: 0,
                        y: 20
                    },
                    animate: {
                        opacity: 1,
                        y: 0
                    },
                    transition: {
                        delay: .1 * pt
                    },
                    children: jsxRuntimeExports.jsx(ConfigOption, {
                        selected: h === ut.name,
                        loading: h === ut.name && nt,
                        onClick: () => at(ut, 
