/* Extracted CSS Block 16 */
/* Size: 662 chars */

)
                        }(this, pt),
                        ht.constructor === Array ? this.doms = ht : this.doms = [ht],
                        _t.constructor === Array ? this.frames = _t : this.frames = [_t],
                        this.options = {
                            startFrom: 0,
                            pauseAt: [],
                            prefix: !1,
                            count: 1,
                            clear: !0,
                            applyOnEnd: !1,
                            instant: !1
                        },
                        vt != null && vt != null)
                            if (typeof vt == 
