/* Extracted CSS Block 752 */
/* Size: 184 chars */

 ? {
                filter: MeshoptFilter.EXPONENTIAL,
                bits: 12
            } : {
                filter: MeshoptFilter.NONE
            }
        }
        if (_ === 
