/* Extracted CSS Block 1149 */
/* Size: 248 chars */


            })
        }), jsxRuntimeExports.jsxs(motion.div, {
            ref: b,
            style: {
                opacity: h,
                y: _
            },
            transition: {
                duration: .2,
                ease: 
