/* LOADING CSS */
/* Blocks: 3 */

/* === Block 2 === */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #333;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite
}

@keyframes rotation {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

/* === Block 3 === */
#assetManagerLoadingBar {
    z-index: 400;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    height: auto
}

#assetManagerLoadingBarContent {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: width .5s;
    background-color: rgba(34, 34, 34, .6666666667);
    text-align: center;
    font-size: .5rem;
    line-height: .6rem;
    height: .6rem;
    border-radius: 0 0 .125rem .125rem;
    border-bottom: #999 1px solid
}

.processState {
    font-weight: bold
}

/* === Block 4 === */
#assetManagerLoadingScreen {
    z-index: 300;
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    color: #333;
    font-size: 1rem;
    gap: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity .5s ease-in-out, min-width .5s, min-height .5s, bottom .5s, right .5s;
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background-blend-mode: luminosity;
    --b-opacity: 0.8;
    --b-background: #ffffff
}

#assetManagerLoadingScreen::before {
    content: