/* MODAL-SYSTEM STYLES */
/* Extracted from minified bundle */

.wwise-perspective {
    perspective: 1000px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh
}

.wwise-wrapper {
    position: fixed;
    width: 0;
    height: 0;
    font-weight: 400
}

.wwise-wrapper.v-center {
    top: 50%
}

.wwise-wrapper.h-center {
    left: 50%
}

.wwise-wrapper.left {
    left: 0
}

.wwise-wrapper.right {
    right: 0
}

.wwise-wrapper.top {
    top: 0
}

.wwise-wrapper.bottom {
    bottom: 0
}

.wwise *.preset {
    color: #fafafa
}

.wwise *.preset.ok {
    background: rgba(45, 193, 80, .95)
}

.wwise *.preset.error {
    background: rgba(190, 17, 51, .95)
}

.wwise *.preset.info {
    background: rgba(40, 34, 60, .95)
}

.wwise *.preset.caution {
    background: rgba(239, 128, 0, .95)
}

.wwise-no-scroll {
    position: relative;
    overflow: hidden
}

.wwise-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(50, 50, 50, .5)
}

.wwise {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(150, 150, 150, .5);
    box-sizing: border-box
}

.wwise.no-radius {
    border-radius: 0
}

.wwise * {
    box-sizing: border-box
}

.wwise .clear {
    clear: both
}

.wwise>.content {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    border-radius: 0 0 4px 4px;
    background: #fff;
    color: #333;
    box-shadow: 0 1px 3px rgba(200, 200, 200, .5) inset
}

.wwise>.content.no-topbar {
    border-radius: 4px;
    box-shadow: none
}

.wwise.no-radius>.content,
.wwise.no-radius>.content.no-topbar {
    border-radius: 0
}

.wwise .modal>.main {
    width: 90vw;
    max-width: 400px;
    border-radius: 4px 4px 0 0;
    text-align: center;
    padding-bottom: 10px;
    color: #fff
}

.wwise .modal>.main .icon {
    display: block;
    margin: 0 auto;
    fill: #fff;
    width: 100px
}

.wwise .modal>.main .title {
    font-size: 30px
}

.wwise .modal>.main .text {
    margin: 10px 0;
    font-weight: 300;
    font-size: 16px
}

.wwise .modal>.main.no-op {
    border-radius: 4px
}

.wwise .modal>.main.ok {
    background: #2dc150
}

.wwise .modal>.main.error {
    background: #be1133
}

.wwise .modal>.main.info {
    background: #28223c
}

.wwise .modal>.main.caution {
    background: #ef8000
}

.wwise .modal>.operation .button-wrapper {
    text-align: center;
    margin: 30px 0 20px 0
}

.wwise .modal>.operation .button {
    display: inline-block;
    line-height: 18px;
    padding: 8px 10px;
    margin: 0 15px;
    line-height: 18px;
    width: 100px;
    border-radius: 4px;
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px rgba(220, 220, 220, .8);
    color: #555;
    transition: all ease .2s
}

.wwise .modal>.operation .button:hover {
    background: #f5f5f5;
    cursor: pointer
}

.wwise .modal>.operation .button.main {
    color: #fff
}

.wwise .modal>.operation.ok .main {
    background: #2dc150
}

.wwise .modal>.operation.ok .main:hover {
    background: rgb(35.3571428571, 151.6428571429, 62.8571428571)
}

.wwise .modal>.operation.error .main {
    background: #be1133
}

.wwise .modal>.operation.error .main:hover {
    background: rgb(143.1884057971, 12.8115942029, 38.4347826087)
}

.wwise .modal>.operation.info .main {
    background: #28223c
}

.wwise .modal>.operation.info .main:hover {
    background: rgb(18.2978723404, 15.5531914894, 27.4468085106)
}

.wwise .modal>.operation.caution .main {
    background: #ef8000
}

.wwise .modal>.operation.caution .main:hover {
    background: rgb(188, 100.6861924686, 0)
}

.wwise .input-wrapper {
    margin: 15px auto -15px auto
}

.wwise .input-wrapper .input {
    display: block;
    margin: 0 auto;
    width: 95%;
    max-width: 300px;
    outline: none;
    border: none;
    background: #f3f3f3;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px
}

.wwise .input-wrapper .error {
    width: 95%;
    text-align: center;
    margin-top: 10px;
    color: red
}

div:has(>.wwise-wrapper) {
    position: absolute !important
}

.wwise-wrapper {
    position: absolute !important
}

.wwise .modal>.main {
    padding-top: 10px
}