/* Extracted CSS Block 83 */
/* Size: 770 chars */

).map(Rt => Rt.value);
                    this.selectElement.selectedIndex = wt.indexOf(this.value_.rawValue)
                }
                onValueChange_() {
                    this.update_()
                }
            }
            class uu {
                constructor(wt, Rt) {
                    this.onSelectChange_ = this.onSelectChange_.bind(this),
                    this.props = Rt.props,
                    this.value = Rt.value,
                    this.viewProps = Rt.viewProps,
                    this.view = new Nm(wt,{
                        props: this.props,
                        value: this.value,
                        viewProps: this.viewProps
                    }),
                    this.view.selectElement.addEventListener(
