/* Extracted CSS Block 320 */
/* Size: 275 chars */

],
            onChange: _ => {
                var b;
                _.last && ((b = d.setDirty) === null || b === void 0 || b.call(d, {
                    sceneUpdate: !0,
                    refreshUi: !0
                }))
            }
        }, {
            type: 
