/* Extracted CSS Block 93 */
/* Size: 481 chars */

, {
                        altKey: wt.altKey,
                        data: this.computePosition_(hu(wt, this.elem_)),
                        sender: this,
                        shiftKey: wt.shiftKey
                    })
                }
                onTouchStart_(wt) {
                    wt.preventDefault();
                    const Rt = wt.targetTouches.item(0)
                      , zt = this.elem_.getBoundingClientRect();
                    this.emitter.emit(
