/* Extracted CSS Block 91 */
/* Size: 326 chars */

, {
                        altKey: wt.altKey,
                        data: this.computePosition_(hu(wt, this.elem_)),
                        sender: this,
                        shiftKey: wt.shiftKey
                    })
                }
                onDocumentMouseMove_(wt) {
                    this.emitter.emit(
