/* Extracted CSS Block 302 */
/* Size: 283 chars */

, three_module.er$]].map(b => ({
                label: b[0],
                value: b[1]
            })),
            onChange: [ () => {
                const b = d[o];
                b && (b.needsUpdate = !0)
            }
            , _]
        }), () => ({
            type: 
