/* Extracted CSS Block 216 */
/* Size: 283 chars */

:
                        lt = {
                            position: new Er,
                            color: new Gn,
                            distance: 0,
                            decay: 0
                        };
                        break;
                    case 
