/* Extracted CSS Block 866 */
/* Size: 529 chars */

,
        this.enabled = !0,
        this.screen = {
            left: 0,
            top: 0,
            width: 0,
            height: 0
        },
        this.rotateSpeed = 1,
        this.zoomSpeed = 1.2,
        this.panSpeed = .3,
        this.noRotate = !1,
        this.noZoom = !1,
        this.noPan = !1,
        this.staticMoving = !1,
        this.dynamicDampingFactor = .2,
        this.minDistance = 0,
        this.maxDistance = 1 / 0,
        this.minZoom = 0,
        this.maxZoom = 1 / 0,
        this.keys = [
