/* Extracted CSS Block 363 */
/* Size: 1088 chars */

,
    blending: three_module.NTi,
    side: three_module.hB5,
    vertexColors: !1,
    opacity: 1,
    transparent: !1,
    blendSrc: three_module.ie2,
    blendDst: three_module.OuU,
    blendEquation: three_module.gO9,
    blendSrcAlpha: null,
    blendDstAlpha: null,
    blendEquationAlpha: null,
    depthFunc: three_module.xSv,
    depthTest: !0,
    depthWrite: !0,
    stencilWriteMask: 255,
    stencilFunc: three_module.sKt,
    stencilRef: 0,
    stencilFuncMask: 255,
    stencilFail: three_module.VVr,
    stencilZFail: three_module.VVr,
    stencilZPass: three_module.VVr,
    stencilWrite: !1,
    clippingPlanes: null,
    clipIntersection: !1,
    clipShadows: !1,
    shadowSide: null,
    colorWrite: !0,
    precision: null,
    polygonOffset: !1,
    polygonOffsetFactor: 0,
    polygonOffsetUnits: 0,
    dithering: !1,
    alphaToCoverage: !1,
    premultipliedAlpha: !1,
    forceSinglePass: !1,
    visible: !0,
    toneMapped: !0,
    userData: {},
    alphaTest: 0,
    alphaHash: !1
}
  , standardMaterialPropList = {
    ...threeMaterialPropList,
    color: 
