/* Extracted CSS Block 49 */
/* Size: 820 chars */

)),
                    this.element.appendChild(nr),
                    this.valueElement = nr
                }
            }
            class pr extends fr {
                constructor(wt, Rt) {
                    const zt = Rt.valueController.viewProps;
                    super(Object.assign(Object.assign({}, Rt), {
                        view: new ur(wt,{
                            props: Rt.props,
                            viewProps: zt
                        }),
                        viewProps: zt
                    })),
                    this.props = Rt.props,
                    this.valueController = Rt.valueController,
                    this.view.valueElement.appendChild(this.valueController.view.element)
                }
            }
            const Ir = {
                id: 
