/* Extracted CSS Block 622 */
/* Size: 421 chars */

:
            at = parseNumberArray(at)
        }
        this.getPrevNode()[b] = {
            type: _e,
            type2: nt,
            flag: it,
            value: at
        },
        this.setCurrentProp(this.getPrevNode(), b)
    }
}
class BinaryParser {
    parse(o) {
        const c = new BinaryReader(o);
        c.skip(23);
        const h = c.getUint32();
        if (h < 6400)
            throw new Error(
