/* Extracted CSS Block 978 */
/* Size: 218 chars */

),
                    children: it.map(ut => ({
                        dom: ut
                    }))
                }, {
                    dom: at
                }, {
                    dom: utility.createDiv(
