/* Extracted CSS Block 957 */
/* Size: 677 chars */

 && pt[0]) {
        const [bt,St] = pt;
        try {
            if (o.isMonitor)
                _t = d.addMonitor(bt, St, ht);
            else {
                const At = {
                    tar: bt,
                    key: St,
                    __v: cloneVar(bt[St])
                };
                At.lastUndoVal = cloneVar(At.__v),
                Object.defineProperty(At, St, {
                    get: () => At.__v,
                    set: It => {
                        At.__v = It
                    }
                });
                const Et = It => {
                    var Dt;
                    [o.onChange].flat().forEach(Gt => typeof Gt == 
