/* Extracted CSS Block 645 */
/* Size: 232 chars */

,
            options: {
                padding: {
                    top: 2,
                    bottom: 2,
                    left: 5,
                    right: 5
                }
            }
        }, {
            name: 
