/* Extracted CSS Block 663 */
/* Size: 163 chars */

, three_module.RyA]].map(lr => ({
                label: lr[0].toString(),
                value: lr[1]
            })),
            property: [this._shadowBaker, 
