/* Extracted CSS Block 64 */
/* Size: 297 chars */

, {
                        bladeController: Rt,
                        options: wt.options,
                        sender: this
                    })
                }
                onDescendantLayout_(wt) {
                    this.updatePositions_(),
                    this.emitter.emit(
