/* Extracted CSS Block 306 */
/* Size: 257 chars */

, three_module.$_I]].map(b => ({
                label: b[0],
                value: b[1]
            })),
            onChange: [ () => {
                d[o] && (d[o].needsUpdate = !0)
            }
            , _]
        }), () => ({
            type: 
