/* Extracted CSS Block 735 */
/* Size: 321 chars */

,
                            label: h,
                            bounds: [1, 16],
                            stepSize: 1,
                            property: [this.exportOptions.dracoOptions.quantizationBits, h]
                        }))
                    }]
                } : {}, {
                    type: 
