/* Extracted CSS Block 624 */
/* Size: 293 chars */

) === 0 ? [h.propertyList[4], h.propertyList[5], h.propertyList[6]] : h.propertyList[4],
            c[_] = {
                type: b,
                type2: _e,
                flag: nt,
                value: it
            }
        } else
            c[h.name] === void 0 ? typeof h.id == 
