/* Extracted CSS Block 264 */
/* Size: 326 chars */

, new Fn(xt,3)),
                super(mt, new Gs({
                    vertexColors: !0,
                    depthTest: !1,
                    depthWrite: !1,
                    toneMapped: !1,
                    transparent: !0
                })),
                this.isSkeletonHelper = !0,
                this.type = 
