/* Extracted CSS Block 576 */
/* Size: 192 chars */

,
            children: [ () => ({
                children: [null, ...Object.keys(this.variants)].map(o => o ? {
                    label: o
                } : {
                    label: 
