/* Extracted CSS Block 621 */
/* Size: 172 chars */

),
        _ = o[2]),
        {
            id: c,
            name: h,
            type: _
        }
    }
    parseNodeProperty(o, c, h) {
        let _ = c[1].replace(/^
