/* Extracted CSS Block 217 */
/* Size: 257 chars */

:
                        lt = {
                            direction: new Er,
                            skyColor: new Gn,
                            groundColor: new Gn
                        };
                        break;
                    case 
